<html>
    <head>
        <title>EJS</title>
    </head>
    <body>
        <p>
            <%=a%>
        </p>
        <!--
            for (var i = 0; i < 5; i++ ){
                if ( i == 3) {
                    //h3 태그
                }else {
                    // h1 태그
                }
            }
        -->
        <% for (var i = 0; i < list.length; i++){ %>   <!-- 한 줄마다 꺽쇠 열고 닫기-->
                <h1><%=list[i]%></h1>
                <% if ( i == 3 ) { %>
                    <h3>hi</h3>
                <% } else { %>
                    <h1>hi</h1>
                <% } %>
        <%  } %>

        <% var a = 'heeeeeey'; %>
        <p><%=a%></p> <!--변수의 값을 보여주겠다. a 변수로.-->
        
        <%- include('test2.ejs') %> <!--파일 안에서 다른 파일을 불러올 수 있다. 
            header, footer에서 자주 사용한다.-->
    </body>
</html>