<html>
    <head>
        <title>worm</title>
        <style>
            div {
                margin-left: 70px;
                margin-top: 30px;
                width: 80px;
                height: 80px;
                border-radius: 50px;
            }
            .circle1 {
                background-color: rgb(59, 118, 245);
                position: absolute;
                
            }
            .circle2 {
                background-color: rgb(49, 98, 159);
                position: absolute;
                top: 30px;
                left: 50px;
            }
            .circle3 {
                background-color: rgb(28, 38, 96);
                position: absolute;
                top: 70px;
                left: 90px;
            }
            .circle4 {
                background-color: rgb(191, 198, 236);
                position: absolute;
                top: 75px;
                left: 130;
            }
            .circle5 {
                background-color: rgb(0, 97, 97);
                position: absolute;
                top: 78px;
                left: 170px;
            }
            .eyeball {
                background-color: white;
                position: absolute;
                top: 20px;
                left: 20px;
                width: 30px;
                height: 30px;
            }
            .pupil {
                background-color: black;
                position: absolute;
                top: 25px;
                left: 20px;
                width: 15px;
                height: 15px;
            }    
            .img {
                width: 400px;
                height: 200px;
            }
        </style>
    </head>

    <body>
        <div class="circle1"></div>
        <div class="eyeball"></div>
        <div class="pupil"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
        <div class="circle5"></div>
        <img class="img" src="/abc/aa/grass.jpg">
    </body>
</html>