<html>
    <head>
        <title>MVC 구조 만들기</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
            function writeComment(){
                var form = document.getElementById("form_comment");
                axios({
                    method: 'POST',
                    url: 'http://localhost:8080/visitor/write',
                    data: {
                        name: form.name.value,
                        comment: form.comment.value
                    }
                })
                .then((rep) => { return rep.data; })
                .then((data) => {
                    // data = { id: 8}
                    let html = 
                    "<tr><td>" + data.id + "</td><td>" + form.name.value + "</td><td>" + form.comment.value + "</td></tr>";

                    $("table").append(html);
                });
            }
        </script>
    </head>
    <body>
    <form id="form_comment" method="post" action="/visitor/write">
        <fieldset>
            <legend>방명록 등록</legend>
            <input type="text" name="name" placeholder="사용자 이름"><br>
            <input type="text" name="comment" placeholder="방명록"><br>
            <div id="button-group">
                <button type="button" onclicK="writeComment();">등록</button>
            </div>
        </fieldset>
    </form>

    <table border="1" cellspacing="1" cellpadding="5">
        <tbody>
            <tr >
                <td>ID</td>
                <td>작성자</td>
                <td>방명록</td>
                <td>수정</td>
                <td>삭제</td>
            </tr>
            <%
                for ( let i = 0; i < data.length; i++ ){
            %>
            <tr >
                <td id="ID"><%=data[i].ID%></td>
                <td id="name"><%=data[i].name%></td>
                <td id="comment"><%=data[i].comment%></td>
            </tr>
            <%
                }    
            %>
        </tbody>
    </table>
    </body>
</html>