header {
    display: flex;
    background-color: lightcoral;
}

header ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

header ul > li {
    font-size: 20px;
    height: 100%;
    display: flex;
}