<html>
    <head>
        <title>prc46. Node.js - MySQL CRUD</title>
    </head>
    <body>
        <form id="form_signup">
            <fieldset>
                <legend>실습46. Node.js - MySQL CRUD</legend>
                아이디 <input type="text" name="id" placeholder="id"><br>
                비밀번호 <input type="password" name="pw" placeholder="pw"><br>
                <button>회원가입</button>
                <button>로그인</button>
                <button>수정</button>
            </fieldset>
            <table border="1" cellspacing="1" cellborder="5">
                <tr>
                    <td>id</td>
                    <td>pw</td>
                </tr>
            </table>
        </form>
    </body>
</html>