<html>
    <head></head>
    <body>
        <p>폼 전송 - 실습</p>
        <form action="receive" method="POST"> 
            <fieldset>
                이름 <input type="text" name="name" required><br> 
            </fieldset>
            <fieldset>
                성별  <input type="radio" name="gender" value="남" required>남자 
                <input type="radio" name="gender" value="여" required>여자<br>
            </fieldset>
            <fieldset>
                생년월일 <select name="year">
                    <% for ( var i = 1950; i < 2023; i++ ) { %>
                        <option><%=i%></option>
                    <% } %>년
                </select>
                <select name="month">
                    <% for (var i = 1; i < 13; i++){ %>
                        <option><%=i%></option>
                    <% } %>
                </select>월
                <select name="day">
                    <% for (var i = 1; i < 32; i++){ %>
                        <option><%=i%></option>
                    <% } %>
                </select>일
                <br>
            </fieldset>
            <fieldset>
            관심사 <input type="checkbox" name="hobby" value="travel">여행
            <input type="checkbox" name="hobby" value="fashion">패션
            <input type="checkbox" name="hobby" value="food">음식
            <br>
            </fieldset>
            <fieldset>
             검색 <input type="search" id='site-search' name="search"> 
            </fieldset>
            <input type="range">
            <button>회원가입</button>  
        </form>
    </body>
</html>