.colors{
  display:flex
}

.red{
  background: red;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.orange{
    background: orange;
    width: 100px;
    height: 150px;
    display: inline-block;
}

.yellow{
    background: yellow;
    width: 100px;
    height: 200px;
    display: inline-block;
}

.green{
  background: green;
  width: 100px;
  height: 250px;
  display: inline-block;
}

.blue{
  background: blue;
  width: 100px;
  height: 300px;
  display: inline-block;
}

.navy{
  background: navy;
  width: 100px;
  height: 350px;
  display: inline-block;
}

.purple{
  background: purple;
  width: 100px;
  height: 400px;
  display: inline-block;
}